# Vim: swap files
# https://stackoverflow.com/a/40870180
*~
*[._]*.s[a-v][a-z]
*[._]*.sw[a-p]
*[._]s[a-v][a-z]
*[._]sw[a-p]

# Vim plugin: netrw
*.netrwhist

# macOS: desktop services store
*.DS_Store
